/* Blog */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #677788;
    text-align: left;
}

p {
    margin: 0 0 15px;
}

blockquote,
p {
    line-height: 26px;
}

.chat_bubble {
    color: #ffffff;
    padding: 0rem;
    border-radius: 50%;
    width: 0rem;
    height: 0rem;
    font-size: 0rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 2000;
    opacity: 0;
}

.chat_bubble_outer {
    background: #425b76;
    border: 2px solid #425b76;
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1900;
    opacity: 0;
}

.chat_message {
    background: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 17rem;
    position: fixed;
    bottom: 6rem;
    right: -19rem;
    box-shadow: 5px 5px 1rem #0000001a;
    transition: opacity 0.5s ease;
    z-index: 2000;
}

.chat_message .close {
    cursor: pointer;
}

.chat_box {
    max-width: 25rem;
    position: fixed;
    bottom: 6rem;
    right: 1rem;
    box-shadow: 5px 5px 1rem #0000001a;
    border-radius: 0.5rem;
    display: none;
    z-index: 2000;
}

.chat_box_head {
    background: #425b76;
    padding: 2rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.chat_box_head img {
    width: 2rem;
}

.chat_box_content {
    padding: 2rem 1rem;
    min-height: 20rem;
    max-height: 30rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

/* Toast */
.piofx_toast {
    position: fixed;
    box-shadow: 5px 5px 1rem #0000001a;
    min-height: 10rem;
}

.piofx_toast_b_l {
    bottom: 1rem;
    left: 1rem;
}

.piofx_toast_t_r {
    top: 3rem;
    right: 2rem;
    z-index: 1200;
}

.header_text {
    display: block;
}

/* Alerts */
.piofx_alert {
    width: 20rem;
    position: fixed;
}

.piofx_alert_b_l {
    bottom: 1rem;
    left: 1rem;
}

.slick-gutters-3 {
    margin-right: 0 !important;
}
